doctype html
html
  head
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )

    title= project.title

    link( rel='icon', href= assetPath('images/favicon.png?as') )
    link( rel='stylesheet', href= assetPath('stylesheets/application.css') )
  body
    //-
    div.container.hide-background
      div.background
      include ../assets/images/svg/outlines.svg
      footer.page-footer
        h1 Jake Mauer
        h2 Designer + Developer
        ul.contact
          li.mail
            a(href="mailto:hello@jakemauer.com" alt="Email")
              include ../assets/images/svg/mail.svg
          li.twitter
            a(href="//twitter.com/jakemauer" alt="Twitter")
              include ../assets/images/svg/twitter.svg
          li.linkedin
            a(href="//www.linkedin.com/in/jakemauer" alt="Linked In")
              include ../assets/images/svg/linkedin.svg
    script( src= assetPath('javascripts/application.js') )
    