@import './common'
global-reset()

@import 'fonts'
@import 'typography'

html
  box-sizing: border-box

*
*:before
*:after
  box-sizing inherit


// Colors
$blue = #26E0E0
$white = #FAFAFA
$lightwhite = #DCDCDC

$background-transition= 4s
$background-transition-delay= 220ms

.container
  background: #000
  overflow: hidden
  position: relative
  svg
    will-change: transform
    transition: transform 700ms cubic-bezier(0.54, 0.05, 0, 1)
  &.inactive
    svg
      transform: perspective(800px) translate3d(0,0,0) !important

.background
  height: 100vh
  background-color: #000
  background-image: url('../images/p.jpg')
  background-size: contain;
  background-repeat: no-repeat
  background-position: center
  margin: 0 auto
  opacity: 1
  transition: opacity $background-transition
  transition-delay: $background-transition-delay
  .hide-background &
    opacity: 0

img.svg 
  display: none
      
.outlines
  height: 100vh
  max-width 100%
  margin: 0 auto
  display: block
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: transparent
  path
    stroke: $blue
    opacity: 0
    fill: none
    stroke-dasharray: 2063
    stroke-dashoffset: 2060
    stroke-width: 1px
    transition: opacity 1s, 
                stroke 220ms,
                stroke-dasharray 3.8s ease, 
                stroke-dashoffset 3.8s ease

footer
  position: absolute
  left: calc(50% - 450px)
  bottom: 20%
  opacity: 1
  transition: opacity $background-transition
  transition-delay: $background-transition-delay
  z-index: 1
  h1,h2,h3
    text-shadow: 0 2px #000
  h1
    color: $white
    text-align: right
    margin-bottom: .3125rem
  h2
    color: $lightwhite
  .hide-background &
    opacity: 0

.contact
  list-style-type: none
  li
    display: block
    float: right
    padding-left: 10px
    a
      display: block
      position: relative
      width: 20px
      &:hover
        path, polygon
          fill: $blue
  .mail 
    a
      width: 30px
      top: -2px
  .twitter 
    a
      width: 20px 
      top: 3px        
  svg
    width: 100%
    max-width: 100%
    cursor: pointer
  path, polygon
    transition: fill 220ms 
    fill: $lightwhite
    

// START ANIMATION

.start-animation
  .outlines
    path
      stroke-dasharray: 1
      stroke-dashoffset: 1
      stroke-opacity: 1
      opacity: 1
      transition-delay: 1s




    
@media (max-width: 1023px)
  footer
    left: calc(50% - 107px)
    bottom: 0
    h1
      text-align: center
