@font-face 
  font-family: 'brewery'
  src: url('../fonts/brewery-medium.eot') /* IE9 Compat Modes */
  src: url('../fonts/brewery-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */url('../fonts/brewery-medium.woff2') format('woff2'), /* Super Modern Browsers */url('../fonts/brewery-medium.woff') format('woff'), /* Pretty Modern Browsers */url('../fonts/brewery-medium.ttf')  format('truetype'), /* Safari, Android, iOS */url('../fonts/brewery-medium.svg#svgFontName') format('svg'); /* Legacy iOS */
